<div class="logo">
  <a [routerLink]="['/']">
    <img src="../../../../assets/pics/logo.png" alt="logo" class="logo_img" />
    creative
  </a>
</div>
<div class="menu">
  <ul class="menu_items">
    <li class="menu_item" routerLinkActive="active">
      <a [routerLink]="['/dashboard']">
        <mat-icon>dashboard</mat-icon> Dashboard</a
      >
    </li>
    <li class="menu_item" routerLinkActive="active">
      <a [routerLink]="['/user']"><mat-icon>person</mat-icon> User info</a>
    </li>
    <li class="menu_item" routerLinkActive="active">
      <a [routerLink]="['/table']"><mat-icon>list</mat-icon> Table list</a>
    </li>
    <li class="menu_item" routerLinkActive="active">
      <a [routerLink]="['/icons']"> <mat-icon> bubble_chart</mat-icon>Icons</a>
    </li>
    <li class="menu_item" routerLinkActive="active">
      <a [routerLink]="['/maps']"><mat-icon> place</mat-icon> Maps</a>
    </li>
    <li class="menu_item" routerLinkActive="active">
      <a [routerLink]="['/notification']"
        ><mat-icon>notifications</mat-icon> Notification</a
      >
    </li>
  </ul>
</div>
